<div>
  <nav class='navbar'>
    <a href='/'>Home</a>
    <a href='/beers'>Beers</a>
    <a href='/random-beer'>Random Beers</a>
  </nav>
  <div class='image'>
    <img src='/images/beer.png' />
  </div>
  <div class='buttons'>
    <a href='/beers'>Check the Beers!</a>
    <a href='/random-beer'>Check a Random Beer!</a>
  </div>
</div>